$transparent: rgba(0,0,0,0.0);
$dark-gray: #424242;

$dark-bg: #121212;
$medium-bg: #181818;
$light-bg: #282828;
$lighte-bg: #484848;
$lighter-bg: #686868;

$white: #ffffff;
$sub-gray: #868686;
$blue: #007acc;
