@import './styles/mixins.scss';
@import './styles/colors.scss';

$brand-primary: $blue;
$brand-success: $lighter-bg;
$brand-info: lighten($blue, 10%);
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './styles/fonts.scss';

html {
  height: 100%;
}

body {
  background-color: $transparent;
  height: 100%;
  font-family: oxygen;
  -webkit-user-select: none;
  cursor: default;

  a:hover, button.btn:hover {
    cursor: default;
  }
}

#content {
  height: 100%;
}

.app-container {
  height: 100%;
}

.window {
  @include border-radius(5px);
  border: 1px solid $medium-bg;
  background-color: $dark-bg;
  color: $white;
  height: 100%;
  overflow-y: hidden;

  header {
    padding: 5px 5px 8px 8px;
    -webkit-app-region: drag;
    
    h1 {
      display: inline-block;
      font-size: 14px;
      margin: 0;
    }

    .actions {
      float: right;
      height: 19px;
      -webkit-app-region: no-drag;

      .btn {
        height: 19px;
        margin-left: 5px;
        padding: 2px 6px;
        font-size: 10px;
      }
    }
  }

  .window-body {
    background-color: $medium-bg;
    height: 100%;

    $left-panel-width: 300px;
    .left-panel {
      float: left;
      width: $left-panel-width;
      height: 100%;
      background-color: $light-bg;
      padding: 8px;

      a.list-group-item {
        border-color: $dark-bg;
        background-color: $dark-bg;
        color: $white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;

        &:hover {
          background-color: $medium-bg;
        }

        &.active, &.active:hover {
          background-color: $blue;
          
          .badge {
            color: $white;
            background-color: $dark-bg;
          }
        }

        .badge {
          background-color: $blue;
        }
      }
    }

    .main-panel {
      height: 100%;
      padding: 8px;
      margin-left: $left-panel-width;

      .torrent-actions {
        float: left;
        
        .torrent-action {
          height: 25px;
          //width: 20px;
          padding: 2px 6px;
          margin-right: 3px;
        }
      }
    }
  }
}

ul.dropdown-menu {
  background-color: $blue;
  border-style: none;
  color: $white;

  > li {
    > a {
      color: $white;
      padding: 3px 10px;
    }
  }
}

button.btn
{
  color: #fff;
  border: none;
  border-radius: 1px;
  box-shadow: 0 3px $light-bg;

  &.btn-primary
  {
    outline: none;
  }

  &:focus, &:hover, &:active
  {
    outline: none;
  }

  &:active
  {
    box-shadow: 0 1px $light-bg;
    transform: translateY(2px);
  }
}

.progress {
  background: $lighte-bg;
  border: 0px solid $white;
  border-radius: 2px;
  height: 25px;
  margin-left: 70px;
  box-shadow: 0 3px $light-bg;

  p {
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
  }
}
